# Ignore raw dataset files
data/ 
dataset/

#ignore colab notebooks
*.ipynb
notebooks

#
tools/
src/evaluate_saved_model.py
src/train_model_transfer.py

application/LoginData.db
application/static/falls/


#Ignore node modules,not using them currently but just in case
node_modules/

models/
debug_crops/
detected_falls/
app/
dataset/
debug_crops/
training_plots/
training_results/
src/train_model_transfer.py
src/evaluate_saved_model.py
src/realtime_fall_detect.py
src/fall_detection_yolo_mediapipe.py
outputs/
trash/
# Ignore virtual environment folder
venv/
yolov8n.pt

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp